<html>

<head>
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../partials/header.ejs') %>
  <section class="container h-center margin-top-50 lucida-grande">
    <%- include('./form.ejs') %>
  </section>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <script src="/js/user/main.js"></script>
  <%- include('./script.ejs') %>
</footer>

</html>