<html>

<head>
  <%- include('./../partials/head.ejs') %>
</head>

<body>
  <%- include('./../partials/userHeader.ejs') %>
  <%- include('./help/main.ejs') %>
  <%- include('./../partials/sidebar.ejs') %>

  <section class="container padding-10 h-center">
    <div class="box b3-5 container border ground margin-top-10 padding-10 radius-10">
      <%- include('./create/form.ejs') %>
    </div>

    <%- include('./filter/form.ejs') %>
    <%- include('./detail/box.ejs') %>
  </section>
</body>
<footer>
  <%- include('./../partials/footer.ejs') %>
  <script src="/js/catalog/main.js"></script>
  <script src="/js/catalog/product.js"></script>
  <script src="/js/product/main.js"></script>
  <%- include('./create/script.ejs') %>
  <%- include('./filter/script.ejs') %>
  <%- include('./detail/script.ejs') %>
  <%- include('./detail/product/insert/script.ejs') %>
  <%- include('./detail/product/filter/script.ejs') %>
</footer>

</html>